/*Телефони*/
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.mainNav {
  display: none; /* Ховаємо стандартне меню */
}
.menu-button {
  display: block; /* Кнопка для відкриття меню */
}
.tasksDiv {
  width: 60%;
}
#taskMain {
  justify-content: center;
}
.name {
  display: none;
}
.userModalWindow {
  right: 0px;
}
.messagesPreview {
  width: 60%;
}

/*Планшети*/
@media screen and (min-width: 480px) {
  body {
    font-size: 15px;
  }
  .mainNav {
    display: block; /* Ховаємо стандартне меню */
  }
  .menu-button {
    display: none; /* Кнопка для відкриття меню */
  }
  .name {
    display: block;
  }
  .userModalWindow {
    right: 50px;
  }
}

/* Маленькі ноутбуки (від 768px) */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .tasksDiv {
    width: 25%;
  }
  #taskMain {
    justify-content: left;
  }
  .messagesPreview {
    width: 30%;
  }
}

/* Великі ноутбуки (від 1024px) */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

/* Десктопи (від 1440px) */
@media screen and (min-width: 1440px) {
  body {
    font-size: 22px;
  }
}

header {
  background-color: darkgrey;
}

th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 2px;
}

table {
  width: 100%;
  float: none;
  border: 2px solid black;
  border-collapse: collapse;
}
aside {
  width: 20%;
  float: left;
}
a:link {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.iconButt {
  background-color: transparent;
  border-color: transparent;
}
.icon {
  width: 30px;
}
.iconSmall {
  width: 20px;
}
.opticon {
  width: 10px;
  height: 10px;
}
.editBut,
.delBut {
  border-radius: 0%;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.pageNavBut {
  border-radius: 0;
  border-width: 1px;
  background-color: white;
}
.navButDiv {
  text-align: center;
  margin: 30px;
}
.tableDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dayMonthDiv {
  margin: 30px;
}
.dayMonthBut {
  border-radius: 0;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  margin: 5px;
}

.task {
  border: 1px solid black;
  border-radius: 10%;
  width: 90%;
  box-shadow: 1px 1px 5px #888888;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 4px;
}

.tasksDiv {
  border: 1px solid black;
  height: 300px;
  width: 25%;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 150px;
}

.taskHeader {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#taskMain {
  display: flex;
  flex-wrap: wrap;
}
.transparentBut {
  border-color: transparent;
  background-color: transparent;
}
.taskContent {
  display: flex;
  flex-direction: column;
  height: 83%;
  justify-content: space-between;
}

.infoPart {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.infoAside {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.hInfo {
  padding-left: 10px;
}
.preInfo {
  margin: 10px;
}
.dashboardDiv {
  display: flex;
}

.mainNav {
  width: 20%;
}
.menu-button {
  width: 40px;
  height: 40px;
  border-color: transparent;
  background-color: transparent;
}
#notification {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 5px;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.iconButt {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.messagesPreview {
  background-color: white;
  border: 1px solid black;
  width: 30%;
  position: absolute;
  top: 100%;
  right: 5px;
  display: none;
  flex-direction: column;
  z-index: 2;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.messageLine {
  align-items: center;
  gap: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.userModalWindow {
  background-color: white;
  width: 70px;
  position: absolute;
  border: 1px solid black;
  top: 100%;
  right: 50px;
  display: none;
}
#userphoto {
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shaking {
  animation: shake 0.6s ease-in-out;
}
header {
  position: relative;
}
.modalHead {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.addEditModalWindow {
  width: 80%;
  border: 1px solid black;
  border-radius: 10%;
  position: relative;
}
.modal {
  background-color: white;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 55%;
}
.navModal {
  border: 1px solid black;
  width: 200px;
  font-size: 15px;
  z-index: 2;
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: white;
}
.conentLine {
  margin: 30px;
  font-size: 20px;
}
.modalFooter {
  display: flex;

  justify-content: end;
}
.modalFooterButton {
  margin-right: 15px;
  margin-top: 10px;
}
.delModal {
  background-color: white;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 55%;
}
.delModalWindow {
  width: 80%;
  border: 1px solid black;
  border-radius: 10%;
  position: relative;
}
.delModalMain {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exitBut {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

#bellIcon:hover + #messagesPreview,
#messagesPreview:hover {
  display: flex;
}
#userphoto:hover ~ #userModalWindow,
#userModalWindow:hover {
  display: flex;
}
#question {
  text-align: center;
}

.editBut:hover,
.delBut:hover {
  background-color: darkgray;
  cursor: pointer;
}
#addButton:hover {
  cursor: pointer;
}

.chat-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  color: white;
  width: 80%;
  height: 10px;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

/* Стрілка */
.chat-bubble::before {
  content: "";
  position: absolute;
  left: -8px; /* Вирівнюємо стрілку зліва */
  top: 40%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent gray transparent transparent;
}

a:visited {
  color: black;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.error-text {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
