/*Телефони*/
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  .mainNav {
    display: none; /* Ховаємо стандартне меню */
  }
  .menu-button {
    display: block; /* Кнопка для відкриття меню */
  }
  .tasksDiv {
    width: 60%;
  }
  #taskMain {
    justify-content: center;
  }
  .name {
    display: none;
  }
  .userModalWindow {
    right: 0px;
  }
}
/*Планшети*/
@media screen and (min-width: 480px) {
  body {
    font-size: 15px;
    .mainNav {
      display: block; /* Ховаємо стандартне меню */
    }
    .menu-button {
      display: none; /* Кнопка для відкриття меню */
    }
    .name {
      display: block;
    }
    .userModalWindow {
      right: 50px;
    }
  }
}

/* Маленькі ноутбуки (від 768px) */
@media screen and (min-width: 768px) {
  body {
    .tasksDiv {
      width: 25%;
    }
    font-size: 18px;
    #taskMain {
      justify-content: left;
    }
  }
}

/* Великі ноутбуки (від 1024px) */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

/* Десктопи (від 1440px) */
@media screen and (min-width: 1440px) {
  body {
    font-size: 22px;
  }
}

header {
  background-color: darkgrey;
}

th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 2px;
}

table {
  width: 100%;
  float: none;
  border: 2px solid black;
  border-collapse: collapse;
}
aside {
  width: 20%;
  float: left;
}
a:link {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.iconButt {
  background-color: transparent;
  border-color: transparent;
}
.icon {
  width: 30px;
}
.iconSmall {
  width: 20px;
}
.opticon {
  width: 10px;
  height: 10px;
}
.editBut,
.delBut {
  border-radius: 0%;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.pageNavBut {
  border-radius: 0;
  border-width: 1px;
  background-color: white;
}
.navButDiv {
  text-align: center;
  margin: 30px;
}
.tableDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dayMonthDiv {
  margin: 30px;
}
.dayMonthBut {
  border-radius: 0;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  margin: 5px;
}

.task {
  border: 1px solid black;
  border-radius: 10%;
  width: 90%;
  box-shadow: 1px 1px 5px #888888;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 4px;
}

.tasksDiv {
  border: 1px solid black;
  height: 300px;
  width: 25%;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 150px;
}

.taskHeader {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#taskMain {
  display: flex;
  flex-wrap: wrap;
}
.transparentBut {
  border-color: transparent;
  background-color: transparent;
}
.taskContent {
  display: flex;
  flex-direction: column;
  height: 83%;
  justify-content: space-between;
}

.infoPart {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  margin: 10px;
}

.infoAside {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.hInfo {
  padding-left: 10px;
}
.preInfo {
  margin: 10px;
}
.dashboardDiv {
  display: flex;
}

.mainNav {
  width: 20%;
}
.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  border-color: transparent;
  background-color: transparent;
}
#notification {
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 1;
  right: 5px;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
}
.iconButt {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.messagesPreview {
  background-color: white;
  border: 1px solid black;
  width: 30%;
  position: absolute;
  top: 1;
  right: 5px;
  display: none;
  flex-direction: column;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageLine {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.messagesImg {
  height: 2.5em;
  width: 9.5em;
}

.bubble {
  background-color: #888888;
  width: 10em;
  height: 2em;
  border-radius: 20%;
}
.userModalWindow {
  background-color: white;
  width: 70px;
  position: absolute;
  border: 1px solid black;
  top: 1;
  right: 50px;
  display: none;
}
#userphoto {
  cursor: pointer;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shaking {
  animation: shake 0.6s ease-in-out;
}
header {
  position: relative;
}
.modalHead {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.addEditModalWindow {
  width: 80%;
  border: 1px solid black;
  border-radius: 10%;
  position: relative;
}
.modal {
  background-color: white;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 55%;
}
.navModal {
  border: 1px solid black;
  width: 200px;
  font-size: 15px;
  z-index: 2;
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: white;
}
.conentLine {
  margin: 30px;
  font-size: 20px;
}
.modalFooter {
  display: flex;

  justify-content: end;
}
.modalFooterButton {
  margin-right: 15px;
  margin-top: 10px;
}
